{%extends 'base.html' %}

{% block title %}
<title>итак</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>почему мы разведем тебя на деньги как полину в магазинах некоторой продукции</h1>
    <p>так как этот сайт создала Леся Зайнулина, имеющая, прошу заметить,</p>
    <p>большой опыт в продажах и два удачных проекта, о которых сейчас расскажу.</p>
    <p>одна самая обычная посетительница секонд-хэнда не могла выбрать, что себе купиь, но она не знала, что она уже оказалась в руках лучшего</p>
    <p>стилиста. поэтому через пару минут изумительнейшая накидка Хоббита была уже в ее гардеробе!</p>
    <p>такую же судьбу повторила уже другая клиентка другого секонд-хэнда, когда не могла подобрать себе аксессуар.</p>
    <p>слава богу неподалеку была я, которая спасла ее от безвкусия и нашла очень практичную и стильную сумку из новой коллекции баленсиага</p>
    <p>поэтому, дорогие посетители, у вас не будет выбора не оставить здесь свои деньги:)</p>
</div>
{% endblock %}

