{%extends 'base.html' %}

{% block title %}
<title>покупаче</title>
{% endblock %}

{% block body %}
<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (light)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#sun-fill"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
            Light
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
            Dark
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
            Auto
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
      </ul>
    </div>
<div class="container">
  {{ data }}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
  </symbol>
</svg>



  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">манекен с дфма</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>с ним есть шикарная история победы нашей расы</li>
              <li>крутой</li>
              <li>жесткий хэндмейд тэг</li>
              <li>постоянное "зачем тебе это" развивает воображение</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">бесценный, я просто понтуюсь</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">дорожный знак</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1000$<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>валялся на траве после ремонта дороги</li>
              <li>чистый</li>
              <li>идеальное дополнение к интерьеру</li>
              <li>описывает как личность</li>
            </ul>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/pay">не дорого, а винтаж</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">чипсы</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">876$<small class="text-body-secondary fw-light">/годовой запас</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>меня позабавил сайт алисы</li>
              <li>цена за большую пачку лейс</li>
              <li>на каждый день</li>
              <li>овцы целы, волки сыты</li>
            </ul>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/pay">вы нам покупаете, если что</a>
          </div>
        </div>
      </div>
    </div>


  </main>
</div>
{% endblock %}